<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :loans_count %><br>
    <%= f.number_field :loans_count %>
  </div>
  <div class="field">
    <%= f.label :payed_loans_count %><br>
    <%= f.number_field :payed_loans_count %>
  </div>
  <div class="field">
    <%= f.label :active_loans_count %><br>
    <%= f.number_field :active_loans_count %>
  </div>
  <div class="field">
    <%= f.label :total_money_borrowed %><br>
    <%= f.text_field :total_money_borrowed %>
  </div>
  <div class="field">
    <%= f.label :total_money_borrowed %><br>
    <%= f.text_field :total_money_borrowed %>
  </div>
  <div class="field">
    <%= f.label :delayed_quotas_count %><br>
    <%= f.number_field :delayed_quotas_count %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
