<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :tax_rate %><br>
    <%= f.text_field :tax_rate %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :estimated_end_date %><br>
    <%= f.date_select :estimated_end_date %>
  </div>
  <div class="field">
    <%= f.label :monthly_amout %><br>
    <%= f.number_field :monthly_amout %>
  </div>
  <div class="field">
    <%= f.label :quotas %><br>
    <%= f.number_field :quotas %>
  </div>
  <div class="field">
    <%= f.label :quota_amount %><br>
    <%= f.text_field :quota_amount %>
  </div>
  <div class="field">
    <%= f.label :quotas_payed %><br>
    <%= f.number_field :quotas_payed %>
  </div>
  <div class="field">
    <%= f.label :quotas_delayed %><br>
    <%= f.number_field :quotas_delayed %>
  </div>
  <div class="field">
    <%= f.label :payed_amount %><br>
    <%= f.text_field :payed_amount %>
  </div>
  <div class="field">
    <%= f.label :total_earnings %><br>
    <%= f.text_field :total_earnings %>
  </div>
  <div class="field">
    <%= f.label :earning_per_quota %><br>
    <%= f.text_field :earning_per_quota %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
