<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @payment.loan %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Estimated date:</strong>
  <%= @payment.estimated_date %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @payment.notes %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
